section(data-bind='visible: $root.isCurrentPage("quest")')
  h2 The quest 
    span(data-bind='text: quest().current().state')
  
  section
    h3.sr-only Outcomes
    ul.list-inline(data-bind='foreach: questOutcome().list')
      li: img(
          width='187'
          height='289'
          data-bind='attr: $root.questOutcome().imgAttrs($data)'
        )
  
  include ./_score.jade
  
  button.btn-link(type='button', data-bind='click: quest().update') Next quest
