section(data-bind='if: $root.isCurrentPage("quest")')
  h2 The quest 
    span(data-bind='text: quest().current().state')
  
  dl
    dt Good guys
    dd(data-bind='text: quest().stats().numSucceeded')
    dt Bad guys
    dd(data-bind='text: quest().stats().numFailed')
  
  button(type='button', data-bind='click: quest().nextQuest') Next quest
