section(data-bind='if: $root.isCurrentPage("quest")')
  h2 The quest 
    span(data-bind='text: currentQuest().state')
  
  dl
    dt Good guys
    dd(data-bind='text: questStats().numSucceeded')
    dt Bad guys
    dd(data-bind='text: questStats().numFailed')
  
  button(type='button', data-bind='click: nextQuest') Next quest
