@primary-color: #d9a245;

.no-js,
.navbar .no-js {
    display: none;
}

html,
body,
main {
    height: 100%;
}

body {
    font-size: 26px;
    font-family: "Noto Serif";
    background-color: #6a6158;
    color: #fff;
}

h1 {
    margin: 0;
    font: 42px "Cinzel Decorative";
    color: @primary-color;
}

h2 {
    font: 72px "Pathway Gothic One";
    strong {
        display: block;
        font-size: 90px;
    }
}

h3 {
    font-size: 36px;
}

select,
.list-group,
.panel-body,
.btn-move,
.modal .btn-default {
    color: #333;
}

.navbar {
    dl,
    dt,
    dd {
        display: inline;
    }
    dl {
        margin-bottom: 0;
    }
    dt {
        margin-right: 5px;
    }
    dd {
        margin-right: 10px;
    }
}

.alert-warning {
    background-color: #ffb;
}

.panel-title {
    font-size: 24px;
}

.panel-body {
    font-size: 21px;
}

.btn,
.btn-link,
.help-block {
    font-size: 24px;
}

.btn-link {
    text-transform: lowercase;
    color: lighten(#337ab7, 7%);
    padding: 0;
    &:hover, &:focus {
        color: lighten(#23527c, 10%);
    }
}

.btn-default {
    font-weight: bold;
    color: darken(@primary-color, 7%);
}

.modal .btn-default {
    font-weight: normal;
}

.modal-footer .btn {
    font-size: 20px;
}

dl {
    font-size: 22px;
    dt:after {
        content: ":";
    }
}

.dl-horizontal {
    dt {
        width: 330px;
    }
    dd {
        margin-left: 350px;
    }
}

.help-block {
    border-radius: 3px;
    padding: 5px;
    background-color: darken(#f2dede, 5%);
}

select {
    min-width: 100px;
}

.form-control {
    font-size: 24px;
    height: 44px;
}

.spacer-top {
    margin-top: 40px;
}

.splash-screen {
    background: url("../images/stone.jpg");
    section {
        width: 45%;
    }
    h2 {
        margin-bottom: 20px;
        font: 144px "Cinzel Decorative";
        color: @primary-color;
    }
}

.new-game {
    width: 50%;
}

.move-btns {
    padding-top: 150px;
}

.btn-move {
    font-size: 32px;
    display: block;
    margin-bottom: 3px;
    width: 100%;
}

.quest-vote {
    display: none;
    &:checked + label {
        border: 5px solid #7d54a6;
        border-radius: 12px;
    }
    + label {
        margin-right: 20px;
        width: 121px;
        height: 153px;
        background-repeat: no-repeat;
    }
}

.approve-label {
    background-image: url("../images/approve_rounded.png");
}

.reject-label {
    background-image: url("../images/reject_rounded.png");
}

.quest-outcome-btn {
    padding: 0;
    border: 0;
}
