@primary-color: #d9a245;

.no-js,
.navbar .no-js {
    display: none;
}

html,
body,
main {
    height: 100%;
}

body {
    font-size: 26px;
    font-family: "Noto Serif";
    background-color: #6a6158;
    color: #fff;
}

h1 {
    margin: 0;
    font: 42px "Cinzel Decorative";
    color: @primary-color;
}

h2 {
    font: 72px "Pathway Gothic One";
    strong {
        display: block;
        font-size: 90px;
    }
}

h3 {
    font-size: 36px;
}

select,
.list-group,
.panel-body,
.btn-move,
.modal .btn-default {
    color: #333;
}

aside {
    font-size: 24px;
    h3 {
        font-size: 30px;
    }
}

.alert-warning {
    background-color: #ffb;
}

.alert-link {
    text-decoration: underline;
}

.panel-title {
    font-size: 24px;
}

.panel-body {
    font-size: 21px;
}

.btn,
.btn-link,
.help-block {
    font-size: 24px;
}

.btn-link {
    text-transform: lowercase;
    color: lighten(#337ab7, 7%);
    padding: 0;
    &:hover, &:focus {
        color: lighten(#23527c, 10%);
    }
}

.btn-default {
    font-weight: bold;
    color: darken(@primary-color, 7%);
}

.modal .btn-default {
    font-weight: normal;
}

.modal-footer .btn {
    font-size: 20px;
}

.help-block {
    border-radius: 3px;
    padding: 5px;
    background-color: darken(#f2dede, 5%);
}

select {
    min-width: 100px;
    overflow-y: hidden;
    border-radius: 4px;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    font-size: 24px;
    height: 44px;
}

.spacer-top {
    margin-top: 40px;
}

.splash-screen {
    background: url("../images/stone.jpg");
    section {
        width: 50%;
    }
    h2 {
        margin-bottom: 20px;
        font: 144px "Cinzel Decorative";
        color: @primary-color;
    }
}

.new-game {
    width: 50%;
}

@import "questors";
@import "lists";
