section(data-bind='if: $root.isCurrentPage("gameover")')
  h2
    span(data-bind='text: game().winnerType')
    | &nbsp;guys won
  
  dl.dl-horizontal#characters(data-bind='foreach: game().current().players')
    dt(data-bind='text: $root.player().characterFor($data.character)')
    dd(data-bind='text: name')
  
  button.btn-link(type='button', data-bind='click: game().reload') Play again
