section(data-bind='visible: $root.nav().isCurrentPage("merlin_selection")')
  h2 Choose Merlin
  
  form(data-bind='submit: game().killMerlin')
    select#good-characters(
      data-bind='attr: { size: character().numGood },\
        options: character().goodList,\
        optionsText: "name",\
        optionsValue: "_id"'
    )
    
    button.btn.btn-default(type='submit') Stab!
