section(data-bind='visible: $root.isCurrentPage("new_game")')
  h2 New game
  
  form.new-game(data-bind='submit: game().confirmCreate')
    .form-group(data-bind='css: { "has-error": game().hasError }')
      label.control-label(for='game-name') Game name
      input.form-control#game-name(
        type='text'
        data-bind='hasFocus: $root.isCurrentPage("new_game")'
      )
      // ko if: game().hasError
      .help-block(data-bind='text: game().error().name.message')
      // /ko
    
    button.btn.btn-default(type='submit') Create game
  
  button.pull-right.btn-link(type='button', data-bind='click: goToGames') back
