section(data-bind='if: $root.isCurrentPage("new_game")')
  h2 New game
  
  form(data-bind='submit: game().create')
    // ko if: game().hasError
    .error Name 
      span(data-bind='text: game().error().name.message')
    // /ko
    
    label(for='game-name') Game name
    input#game-name(type='text')
    
    button(type='submit') Create game
  
  button(type='button', data-bind='click: goToGames') back
