section(data-bind='if: $root.isCurrentPage("new_game")')
  h2 New game
  
  form(data-bind='submit: game().create')
    // ko if: game().hasError
    .error Name 
      span(data-bind='text: game().error().name.message')
    // /ko
    
    +stringField('game', 'name', 'Game name')
    
    button(type='submit') Create game
  
  +linkTo('back', 'games')
