section(data-bind='visible: $root.nav().isCurrentPage("new_characters")')
  h2 Choose characters
  
  .row
    section.col-sm-6
      h3
        span(data-bind='text: character().numBad')
        | &nbsp;bad guys
      
      ul.character-list.list-group
        +characterCheckbox('assassin', 'bad', false)
        - for (var i = 0; i < 3; ++i)
          +characterCheckbox('bad' + (i + 1), 'bad', true)
    
    section.col-sm-6
      h3
        span(data-bind='text: character().numGood')
        | &nbsp;good guys
      
      ul.character-list.list-group
        +characterCheckbox('merlin', 'good', false)
        - for (var i = 0; i < 5; ++i)
          +characterCheckbox('good' + (i + 1), 'good', true)
  
  button.btn.btn-default#create-characters-btn(
    type='button'
    data-bind='click: character().create'
    disabled
  ) Done
