section(data-bind='if: $root.isCurrentPage("edit_player")')
  h2 Welcome to Avalon
  
  form(data-bind='submit: player().update')
    // ko if: player().hasError
    .error Name 
      span(data-bind='text: player().error().name.message')
    // /ko
    
    label(for='player-name') Enter your name
    input#player-name(type='text')
    
    button(type='submit') Begin
