section.center-block(data-bind='visible: $root.isCurrentPage("edit_player")')
  h2.font-effect-outline.text-center Avalon
  
  form.row(data-bind='submit: player().update')
    .form-group.col-sm-10(data-bind='css: { "has-error": player().hasError }')
      label(for='player-name') Enter your name
      input.form-control#player-name(
        type='text'
        data-bind='hasFocus: $root.isCurrentPage("edit_player")'
      )
      // ko if: player().hasError
      .help-block(data-bind='text: player().error().name.message')
      // /ko
    
    .col-sm-2: button.btn.btn-default.spacer-top(type='submit') Start
