section(data-bind='if: $root.isCurrentPage("player")')
  h2 You are 
    span(data-bind='text: player().character')
  
  button.btn.btn-default(type='button', data-bind='click: quest().update') Ready
