section(data-bind='if: $root.isCurrentPage("player")')
  h2 You are 
    span(data-bind='text: player().character')
  
  img.img-responsive(
    width='125'
    height='200'
    aria-hidden='true'
    data-bind='attr: { src: $root.player().characterImg() }'
  )
  
  include ./_known_players.jade
  
  button.btn.btn-default(type='button', data-bind='click: quest().update') Ready
