meta(charset='utf-8')
title Avalon

meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='ws-url', content=wsUrl)

link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
link(href='//fonts.googleapis.com/css?family=Noto+Serif%7CCinzel+Decorative:700%7CPathway+Gothic+One&effect=outline', rel='stylesheet')
link(href='/stylesheets/avalon.css', rel='stylesheet')

script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
script(src='//cdn.socket.io/socket.io-1.2.0.js')

script(src='/javascripts/avalon.js')
script(src='/javascripts/viewmodels/navigation.js')
script(src='/javascripts/viewmodels/user.js')
script(src='/javascripts/viewmodels/player.js')
script(src='/javascripts/viewmodels/character.js')
script(src='/javascripts/viewmodels/game.js')
script(src='/javascripts/viewmodels/quest.js')
script(src='/javascripts/viewmodels/quest-vote.js')
script(src='/javascripts/viewmodels/quest-outcome.js')
script(src='/javascripts/event-handlers.js')
script(src='/javascripts/event-handlers/players-handler.js')
script(src='/javascripts/event-handlers/characters-handler.js')
script(src='/javascripts/event-handlers/games-handler.js')
script(src='/javascripts/event-handlers/quests-handler.js')
script(src='/javascripts/event-handlers/quest-votes-handler.js')
script(src='/javascripts/event-handlers/questors-handler.js')
script(src='/javascripts/main.js')
