mixin stringField(model, attr, labelText)
  - id = hyphenate(model) + '-' + hyphenate(attr)
  - labelText = labelText || humanize(attr)
  label(for=id)= labelText
  input(type='text', name=id, id=id)

mixin linkTo(text, location)
  button(type='button', data-bind='click: goTo#{capitalize(location)}')= text
