aside.col-sm-3(data-bind='if: game().shouldShowStats')
  section
    h3 You know
    // ko if: player().knowsPlayers
    dl.dl-horizontal(data-bind='foreach: player().knownPlayers')
      dt(data-bind='text: $root.player().characterFor($data.character)')
      dd(data-bind='text: name')
    // /ko
    // ko ifnot: player().knowsPlayers
    p No one :(
    // /ko
  section
    h3 Questors
    // ko if: quest().hasCurrent
    ul.list-group(data-bind='foreach: quest().current().players')
      li.list-group-item(data-bind='text: name')
    // /ko
    // ko ifnot: quest().hasCurrent
    p No current quest
    // /ko
