aside.col-sm-3(data-bind='if: game().shouldShowStats')
  include ./players/_known_players.jade
  
  section
    h3 Questors
    // ko if: quest().hasCurrent
    ul.list-group(data-bind='foreach: quest().current().players')
      li.list-group-item(data-bind='text: name')
    // /ko
    // ko ifnot: quest().hasCurrent
    p No current quest
    // /ko
