include ./players/_known_players.jade
include ./characters/_checkbox.jade
include ./quest_votes/_radio_group.jade

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Avalon
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Noto+Serif%7CCinzel+Decorative:700%7CPathway+Gothic+One&effect=outline', rel='stylesheet')
    link(href='/stylesheets/avalon.css', rel='stylesheet')
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(src='//cdn.socket.io/socket.io-1.2.0.js')
    
    script(src='/javascripts/avalon.js')
    script(src='/javascripts/viewmodels/navigation.js')
    script(src='/javascripts/viewmodels/player.js')
    script(src='/javascripts/viewmodels/character.js')
    script(src='/javascripts/viewmodels/game.js')
    script(src='/javascripts/viewmodels/quest.js')
    script(src='/javascripts/viewmodels/quest-vote.js')
    script(src='/javascripts/viewmodels/quest-outcome.js')
    script(src='/javascripts/event-handlers.js')
    script(src='/javascripts/event-handlers/players-handler.js')
    script(src='/javascripts/event-handlers/characters-handler.js')
    script(src='/javascripts/event-handlers/games-handler.js')
    script(src='/javascripts/event-handlers/quests-handler.js')
    script(src='/javascripts/event-handlers/quest-votes-handler.js')
    script(src='/javascripts/event-handlers/questors-handler.js')
    script(src='/javascripts/main.js')
  body
    header.navbar.navbar-inverse(
      data-bind='visible: !$root.nav().isCurrentPage("edit_player")'
    )
      .container-fluid
        .navbar-header
          h1 Avalon
        dl.no-js.navbar-right(data-bind='visible: game().shouldShowStats')
          dt Character
          dd(data-bind='text: character().current')
          dt Rejected Quests
          dd(data-bind='text: game().current().numRejectedQuests')
          dt King
          dd(data-bind='text: quest().kingName')
    
    .container-fluid
      noscript This website does not work without Javascript enabled. Sorry.
    
    main.no-js.container-fluid(
      role='main'
      data-bind='css: { "splash-screen": nav().isCurrentPage("edit_player") }'
    )
      // ko if: hasAlert
      .alert(role='alert', data-bind='html: alert().message, css: alert().type')
      // /ko
      
      include ./players/_edit.jade
      
      .row(data-bind='visible: !$root.nav().isCurrentPage("edit_player")')
        include ./_sidebar.jade
        .col-sm-9
          include ./players/_show.jade
          include ./players/_index.jade
          include ./characters/_new.jade
          include ./games/_new.jade
          include ./games/_index.jade
          include ./games/_merlin_selection.jade
          include ./games/_gameover.jade
          include ./quests/_show.jade
          include ./questors/_new.jade
          include ./questors/_index.jade
          include ./quest_votes/_index.jade
          include ./quest_outcomes/_new.jade
    
    include ./_dialogs.jade
