include ./players/_known_players.jade
include ./characters/_checkbox.jade
include ./quest_votes/_radio_group.jade

doctype html
html(lang='en')
  head
    include ./_head.jade
  body
    header.navbar.navbar-inverse(
      data-bind='visible: !$root.nav().isCurrentPage("edit_user")'
    )
      .container-fluid
        .navbar-header
          h1 Avalon
        dl.no-js.navbar-right(data-bind='visible: game().shouldShowStats')
          dt Character
          dd(data-bind='text: character().current')
          dt Rejected Quests
          dd(data-bind='text: game().current().numRejectedQuests')
          dt King
          dd(data-bind='text: quest().kingName')
    
    .container-fluid
      noscript This website does not work without Javascript enabled. Sorry.
    
    main.no-js.container-fluid(
      role='main'
      data-bind='css: { "splash-screen": nav().isCurrentPage("edit_user") }'
    )
      // ko if: hasAlert
      .alert(role='alert', data-bind='html: alert().message, css: alert().type')
      // /ko
      
      include ./players/_edit.jade
      
      .row(data-bind='visible: !$root.nav().isCurrentPage("edit_user")')
        include ./_sidebar.jade
        .col-sm-9
          include ./players/_show.jade
          include ./players/_index.jade
          include ./characters/_new.jade
          include ./games/_new.jade
          include ./games/_index.jade
          include ./games/_merlin_selection.jade
          include ./games/_gameover.jade
          include ./quests/_show.jade
          include ./questors/_new.jade
          include ./questors/_index.jade
          include ./quest_votes/_index.jade
          include ./quest_outcomes/_new.jade
    
    include ./_dialogs.jade
